<!DOCTYPE html>

<html>

<head>
    <title>Bogoda :~D</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Zbrawdź ze bogode żonyzgo :~D</p>

        <form>
            <input placeholder="np. Olesnica Nalesnica :*">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>